@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #28262e;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
::-webkite-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 10px;
}
::-webkite-scrollbar-thumb:hover {
  background: purple;
}

.section-1 {
  background: url(./images/2.jpg);
  height: 78vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.col-div-3 {
  width: 25%;
  float: left;
}
.col-div-6 {
  width: 50%;
  float: left;
}
.clearfix {
  clear: both;
}
.logo {
  padding-top: 10px;
}
.nav li {
  list-style: none;
  float: left;
  padding: 20px;
}
.nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.get-btn {
  padding: 10px 30px;
  background: purple;
  font-size: 17px;
  color: #fff;
  border: none;
  border-radius: 5px;
  float: right;
  margin-top: 25px;
  cursor: pointer;
}
.menu-icon {
  display: none;
}
.banner-heading {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  text-align: center;
}
h1 {
  font-size: 55px;
  color: #fff;
  font-weight: bold;
  margin: 0;
}
.p1 {
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.learn {
  font-size: 17px;
  padding: 10px 30px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.section-2 {
  text-align: center;
  background: url(./images/sec4BG.avif);
  height: 80vh;
  background-size: cover;
  padding-top: 15%;
  margin-top: -72px;
  background-position: top;
}
.h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  margin-top: -20px;
}
.p2 {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.8px;
  width: 666px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.hr {
  height: 3px;
  background: purple;
  border: none;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 500px;
}
.box {
  background: #2f2e33;
  height: 200px;
  width: 240px;
  padding: 10px;
}
.h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.p3 {
  color: #dcdada;
  font-size: 13px;
  letter-spacing: 0.6px;
}
.fa {
  font-size: 50px !important;
  color: purple;
  padding-top: 25px;
}
.section-3 {
  text-align: center;
}
.section-3 h2 a {
  text-decoration: none;
  color: #fff;
}
.col-div-4 {
  width: 33.3%;
  float: left;
}
.box-1 {
  background: #2f2e33;
  padding: 10px;
  color: #fff;
  text-align: center;
  margin-left: 20px;
  margin-top: 50px;
}
.service-img {
  width: 330px;
  height: 220px;
}
h2 {
  color: #fff;
  font-weight: 400;
}
.section-4 {
  text-align: center;
  background: url(./images/sec3BG.jpg);
  height: 60vh;
  background-size: cover;
  margin-top: 80px;
  padding-top: 150px;
}
.p4 {
  color: #d4d0d8;
  letter-spacing: 0.8px;
  line-height: 30px;
}
.pro-ul li {
  list-style: none;
  float: left;
  position: relative;
  color: #fff;
  text-align: left;
  width: 264px;
}
.no {
  font-size: 60px;
  font-weight: bold;
  color: purple;
}
.head {
  position: absolute;
  top: 18px;
  text-align: left;
  left: 80px;
  font-weight: 600;
  letter-spacing: 1.8px;
}
.square {
  width: 15px;
  height: 15px;
  background: purple;
  position: absolute;
  top: 30px;
  left: -35px;
}
.sec-5 {
  position: relative;
}
.right {
  width: 50%;
  float: left;
  height: 400px;
  background: purple;
}
.content {
  padding: 50px;
  color: #fff;
}
.c-p1 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
.c-p2 {
  line-height: 25px;
  letter-spacing: 0.8;
}
.right::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: purple;
  right: 47%;
  top: 165px;
  transform: rotate(45deg);
}
.left {
  width: 50%;
  float: left;
  height: 400px;
  background: url();
  background-size: cover;
}

footer {
  padding-top: 50px;
}
h4 {
  color: purple;
  margin-top: 20px;
}
.foot-p {
  color: #ccc;
  font-size: 14px;
  letter-spacing: 1px;
  width: 200px;
  line-height: 22px;
}
.foot-ul {
  margin-left: -10px;
  margin-top: 20px;
}
.foot-ul li {
  list-style: none;
}
.foot-ul li a {
  color: #ccc;
  text-decoration: none;
  line-height: 28px;
  font-size: 14px;
}
.foot-ul p {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.foot-ul p span {
  font-weight: 300;
  font-size: 13px;
  color: #ccc;
}
.fot-icon {
  margin-bottom: -6px;
}
.foot-bottom {
  width: 100%;
  padding: 5px;
  height: 40px;
  background: #1c1b20;
}
.bot-p {
  text-align: center;
  color: #ccc;
  font-size: 13px;
}

@media only screen and (max-width: 1263px) {
  .h1 {
    font-size: 50px;
  }
  .section-4 {
    height: 75vh;
  }
}

@media only screen and (max-width: 1100px) {
  .col-div-6 {
    width: 75%;
  }
  .nav {
    float: right;
  }
  .get-btn {
    display: none;
  }
  .box {
    width: 85%;
  }
  .h3 {
    font-size: 16px;
  }
  .p3 {
    font-size: 12px;
  }
  .nav li a {
    font-size: 10px;
  }
  .service-img {
    width: 100%;
  }
  .container {
    width: 900px;
  }
  .h1 {
    font-size: 40px;
  }
  .p1 {
    font-size: 14px;
  }
  .learn {
    font-size: 13px;
    padding: 8px 25px;
  }
  .h2 {
    font-size: 18px;
  }
  h2 {
    font-size: 15px;
  }
  .square {
    display: none;
  }
  .pro-ul li {
    width: 50%;
  }
  .section-4 {
    height: 80vh;
    padding-top: 65px;
  }
}

@media only screen and (max-width: 936px) {
  .menu-icon {
    display: block;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    top: 14px;
    left: 96%;
  }
  .container {
    width: 600px;
    position: relative;
  }
  .p2 {
    width: 100%;
  }
  .col-div-6 {
    width: 100%;
  }
  .col-div-3 {
    width: 100%;
  }
  .col-div-4 {
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .right::after {
    display: none;
  }
  .box {
    width: 97%;
    margin-bottom: 20px;
  }
  .nav {
    background: #403f47;
    width: 83%;
    display: none;
  }
  .get-btn {
    display: none;
  }
  .nav li {
    float: none;
    text-align: center;
    margin-left: -50px;
  }
}

@media only screen and (max-width: 674px) {
  .section-1 {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-heading {
    top: 30%;
  }
  .section-4 {
    height: 125vh;
    padding-top: 65px;
  }
  .container {
    width: 320px;
  }
  .pro-ul li {
    width: 100%;
  }
  .c-p2 {
    line-height: 20px;
    letter-spacing: 0.8px;
    font-size: 14px;
  }
  .h1 {
    font-size: 18px;
  }
  .p1 {
    font-size: 12px;
  }
  .section-1 {
    height: 60vh;
  }
  .hr {
    display: none;
  }
}
